<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看个人信息</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css"/>
    <script charset="UTF-8" type="text/javascript" src="../layui/layui.js"></script>
    <script src="../js/echarts.min.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/jquery-3.6.1.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/china.js"></script>
    <link rel="stylesheet" href="../css/map.css">
</head>

<body>

<div style="padding: 5px;height: 8%" id="nav2" th:method="post">
    <ul class="layui-nav layui-bg-green" lay-filter="">
        <li style="display: block;" class="layui-nav-item">
            <span style="float: left;" class="layui-icon layui-icon-username" th:text="${uname}"></span>
        </li>
        <!-- 设定layui-this来指向当前页面,即绿色滑块移动到该分类下方 -->
        <li class="layui-nav-item">
            <a><i class="layui-icon layui-icon-home" style="font-size: 20px;margin: 0px 10px;"></i>个人中心</a>
        </li>
    </ul>
</div>

<div class="layui-form-item" style="padding: 5px;height: 8%" id="nav3" th:method="post">
    <div class="layui-input-block" style="margin: 0; padding: 0;">
        <br/>
        <a href="/user">
            <input type="button" class="layui-btn" value="回到用户界面">
        </a>
    </div>
    <br/>
    <div class="showMessage" style="margin: 0 auto; font-size: medium;">
        昵称: <span th:text="${uname}"></span>  <br/>
        电话: <span th:text="${phone}"></span> <br/>
        邮箱: <span th:text="${mail}"></span>  <br/>
    </div>
</div>

</body>
</html>
