<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css"/>
    <script charset="UTF-8" type="text/javascript" src="../layui/layui.js"></script>
    <script src="../js/echarts.min.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/jquery-3.6.1.js"></script>
    <meta charset="utf-8">
</head>
<body>

<div style="padding: 10px;" id="nav2" th:method="post">
    <ul class="layui-nav layui-bg-green" lay-filter="">
        <li style="display: block;" class="layui-nav-item">
            <span style="float: left;" class="layui-icon layui-icon-username" th:text="${uname}"></span>
        </li>
        <li class="layui-nav-item layui-this">
            <a><i class="layui-icon layui-icon-console" style="font-size: 20px;margin: 0px 10px;"></i>控制台</a>
            <dl class="layui-nav-child">
                <dd><a href="/checkLocal">查看本地疫情</a></dd>
                <dd><a href="/checkCountry">查看全国疫情</a></dd>
            </dl>
        </li>
        <!-- 设定layui-this来指向当前页面,即绿色滑块移动到该分类下方 -->
        <li class="layui-nav-item">
            <a><i class="layui-icon layui-icon-home" style="font-size: 20px;margin: 0px 10px;"></i>个人中心</a>
            <dl class="layui-nav-child">
                <dd><a href="/user/checkPersonInformation">查看个人信息</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a><i class="layui-icon layui-icon-user" style="font-size: 20px;margin: 0px 10px;"></i>我</a>
            <dl class="layui-nav-child">
                <dd><a href="/user/update">修改信息</a></dd>
                <dd><a href="/user/retreat">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>

<div class="china-map" id="china-map" style="width:1000px;height:600px;"></div>

<script type="text/javascript">
    layui.use(['element','form'],function () {
        var element = layui.element
            ,form=layui.form;
    });
    //基本地图加载
    $.get('../js/province/shandong.json',function(rs){
        echarts.registerMap('shandong',rs);
        showMap();
    })

    function showMap(){
        var myChart = echarts.init(document.getElementById('china-map'));
        var option = {
            tooltip: {
//                    show: false //不显示提示标签
                formatter: '{b}', //提示标签格式
                backgroundColor:"#ff7f50",//提示标签背景颜色
                textStyle:{color:"#fff"} //提示标签字体颜色
            },
            series: [{
                type: 'map',
                mapType: 'shandong',
                label: {
                    normal: {
                        show: true,//显示省份标签
                        textStyle:{color:"#c71585"}//省份标签字体颜色
                    },
                    emphasis: {//对应的鼠标悬浮效果
                        show: true,
                        textStyle:{color:"#800080"}
                    }
                },
                itemStyle: {
                    normal: {
                        borderWidth: .5,//区域边框宽度
                        borderColor: '#009fe8',//区域边框颜色
                        areaColor:"#ffefd5",//区域颜色
                    },
                    emphasis: {
                        borderWidth: .5,
                        borderColor: '#4b0082',
                        areaColor:"#f47920",
                    }
                },
                data:[
                    {name:'青秀区', selected:true},//广西为选中状态
                    {name:'江南区', selected:true},//贵州为选中状态
                    {name:'西乡塘区', selected:true},//云南为选中状态
                    {name:'良庆区', selected:true},//云南为选中状态
                    {name:'兴宁区', selected:true},//云南为选中状态
                    {name:'邕宁区', selected:true},//云南为选中状态
                ]
            }],
        };

        myChart.setOption(option);
        myChart.on('mouseover', function (params) {
            var dataIndex = params.dataIndex;
            console.log(params);
        });
    }
</script>
</body>
</html>
