<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ProvinceDao">


    <insert id="insert" parameterType="com.example.demo.entity.ProvinceInfo" useGeneratedKeys="true" keyProperty="id">
        insert into province(provinceName,currentConfirmedCount,confirmedCount,curedCount,deadCount,suspectedCount)
        value(#{provinceName},#{currentConfirmedCount},#{confirmedCount},#{curedCount},#{deadCount},#{suspectedCount})
    </insert>
    
    <update id="update">
        update province
        set currentConfirmedCount=#{currentConfirmedCount},confirmedCount=#{confirmedCount},curedCount=#{curedCount},deadCount=#{deadCount},suspectedCount=#{suspectedCount}
        where provinceName like concat ('%',#{provinceName},'%')
    </update>
    
    <select id="selectByProvinceName"  resultType="com.example.demo.entity.ProvinceInfo">
        select *
        from province
        where provinceName like concat ('%',#{provinceName},'%')
    </select>

    <select id="selectAllProvince"  resultType="com.example.demo.entity.ProvinceInfo">
        select *
        from province
    </select>


</mapper>